.tmads-chips-large {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  padding: var(--spacing-s) var(--spacing-m);
  min-width: 103px;
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-gray-100);
  background-color: var(--color-gray-white);
  cursor: pointer;
  font-family: var(--typeface-pingfang-tc);
  font-weight: var(--font-weight-regular);
  font-size: var(--type-scale-body-m);
  line-height: var(--line-height-body-m);
  color: var(--color-gray-800);
  text-align: center;
}

.tmads-chips-large--selected {
  background-color: var(--color-primary-green-50);
  border-color: var(--color-primary-green-100);
  color: var(--color-primary-green-900);
  font-weight: var(--font-weight-semibold);
}
