.tmads-link {
  display: inline-flex;
  align-items: center;
  font-family: var(--typeface-pingfang-tc);
  font-weight: var(--font-weight-semibold);
  font-size: var(--type-scale-body-l);
  line-height: var(--line-height-body-l);
  color: var(--color-accent-yellow-700);
  text-decoration: none;
  cursor: pointer;
}

.tmads-link:hover {
  color: var(--color-accent-yellow-900);
}
